/*Celular*/
@media screen and (min-width:320px){
    .habilidades{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem 1rem 0 1rem;
    }
    
    .habilidades__titulo-nombre{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .habilidades__programas{
        background: #fdfdfd;
        display: flex;
        flex-direction: column;
        margin: 0 .5rem 2rem .5rem;
    }
    
    .habilidades__imagen{
        display: flex;
        width: 7rem;
        height: 7rem;
        margin-right: .5rem;
        margin-left: .5rem;
        margin-top: .5rem;
    }
    
    .Habilidades__titulo-descripcion{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        margin-left: .5rem;
        font-weight: 700;
        color: #333333;
    }
}

/*Tablet*/
@media screen and (min-width:768px){
    
    .habilidades__programas{
        background: #fdfdfd;
        display: flex;
        flex-direction: column;
        margin: 0 .5rem 2rem .5rem;
    }
    
    .habilidades__imagen{
        display: flex;
        width: 10rem;
        height: 10rem;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .Habilidades__titulo-descripcion{
        margin-left: 1rem;
    }
}

/*pc*/
@media screen and (min-width:1024px){
    .habilidades{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem 5rem 2rem 5rem;
    }
    
    .habilidades__titulo-nombre{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 1rem;
        width: 100%;
        
    }
    
    .habilidades__programas{
        background: #fdfdfd;
        display: flex;
        flex-direction: column;
        margin: 0 .5rem 2rem 0;
    }
    
    .habilidades__imagen{
        display: flex;
        width: 6.5rem;
        height: 6.5rem;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    
    .Habilidades__titulo-descripcion{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        margin-left: .5rem;
        font-weight: 700;
        color: #333333; 
    }
}